<?xml version="1.0"?>

<launch>

  <include file="$(find hector_tracker_spin_lidar_bringup)/launch/load_spin_lidar_controller.launch">
        <arg name="port" value="/dev/rs485" />
  </include>

    <node pkg="urg_node" type="urg_node" name="head_urg_node" output="screen"  ns="spin_laser">
      <rosparam>
        publish_intensity: true
        angle_min: -2.2689
        angle_max: 2.2689
        cluster: 1
        skip: 0
        ip_address: 10.0.0.60
        frame_id: spin_lidar_link_hokuyo_laser_frame
        calibrate_time: true
        time_offset: 0.0
        publish_multiecho: true
      </rosparam>
      <remap from="last" to="/spin_laser/scan"/>
    </node>

    <node name="stab_laser_control" pkg="hector_dynamixel_ros_control_wrapper" type="hector_dynamixel_ros_control_wrapper_node" output="screen">
     <rosparam command="load" file="$(find hector_tracker_spin_lidar_bringup)/config/stab_laser.yaml" />
     <remap from="~/joint_states" to="/joint_states"/>
    </node>
    
    
    <rosparam file="$(find hector_tracker_spin_lidar_bringup)/config/joint_state_controller.yaml" command="load" ns="stab_laser_control"/>
    <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller" ns="stab_laser_control"/>

    <rosparam file="$(find hector_tracker_spin_lidar_bringup)/config/stab_laser_control_joint_trajectory_controller.yaml" command="load" ns="stab_laser_control"/>
    <node name="joint_trajectory_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="stab_laser_traj_controller" ns="stab_laser_control"/>    
    
      <param name="stab_laser/hokuyo_node/port" value="/dev/ttyACM0" />
      <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" ns="stab_laser" output="screen">
        <param name="min_ang" value=" -2.2689" />
        <param name="max_ang" value="  2.2689" />
        <param name="frame_id" value="/stab_laser_frame" />
      </node>

   <!--<node name="set_head_lidar_velocity" pkg="rostopic" type="rostopic" output="screen" args="pub -l /head_lidar_controller/command std_msgs/Float64 'data: 5'"/>-->

</launch>
