<?xml version="1.0"?>

<launch> 
  
  <include file="$(find hector_tracker_spin_lidar_bringup)/launch/load_spin_lidar_controller.launch">
        <arg name="port" value="/dev/rs485" />
  </include>
  
  <include file="$(find hector_multisensor_head_driver)/launch/load_hokuyo_laser_scanner.launch"/>
  
   <node name="set_head_lidar_velocity" pkg="rostopic" type="rostopic" output="screen" args="pub -l /head_lidar_controller/command std_msgs/Float64 'data: 5'"/>
  
</launch>